*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Plain Light';
     color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
/* ===================================Start of cursor making====================================== */
#crsr{
    height: 1.8vw;
    width: 1.8vw;
    border-radius: 50%;
    position: fixed;
    /* background-color: #fff; */
    border: 1px solid #ffffffc5;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
/* ===================================End of cursor making====================================== */
/* ===================================Loader making============================ */
#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}
#line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    /* animation-name: anime; */
    opacity: 0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes anima {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
}
/* =====================================Loader section end========================================== */
#main{
    position: relative;
    background-color: #151515;
}
/* =======================================start of page1====================================================== */
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 5.5vw;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3vw;
}
#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}
.hero{
    /* background-color: red; */
    width: 70%;
    margin-left: 30%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    
}
#hero1::before{
    content: "01";
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 500;
    position: absolute;
    top:33%;
    left:17%;
}
.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    line-height: 7.2vw;
    text-transform: uppercase;
    position: relative;
}
.hero h2{
    font-size: 7.2vw;
    font-weight: 600;
    line-height: 7.2vw;
    text-transform: uppercase;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.5vw;
    
}
.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    color: transparent;
}
.hero:nth-child(2){
    margin-top: 16.8vh;
}
/* =======================================end of page1====================================================== */
/* =======================================Start of page2====================================================== */
#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;

}
#video-container{
    height: 65vh;
    width: 68.9vw;
    position: relative;
    left: 30%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg&quot);
}
#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top:0
}
#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#video-cursor{
    background-color: #ffa63d;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position: absolute;
    top:0;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

}
#video-cursor i{
    font-size: 2vw;
}
/* =======================================end of page2====================================================== */
/* =======================================Start of page3====================================================== */
#page3{
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: #2e2b2b;
}
/* =======================================end of page3====================================================== */
/* =======================================Start of page4====================================================== */
#page4{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: #868282; */
}
#page4-content{
    width: 65vw;
    margin-left: 28%;
    position: relative;
    padding-top: 5vh;
}
#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    font-weight: 600;
}
#page4-content h1::before{
    content: "03";
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 500;
    position: absolute;
    top:2.5vw;
    left:-10vw;
}
#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}
#page4-content>p{
    font-size: 2.05vw;
    width: 50%;
    margin-bottom: 3vw;
}
#page4-flex img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page4-flex{
    display: flex;
}
#page4-flex img{
    width: 50%;
}
#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}
#page4-bluediv{
    background-color: #3F7DF4;
    width: 32vw;
    padding: 3vw;
    position: relative;
    margin-top: -33vh;
    margin-left: 25vw;
}
.bluediv-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:1.5vw 0;
    border-bottom: 2px solid #f3f1f198;
}
.bluediv-elem h4{
    font-size: 1.35vw;
    font-weight: 500;
}
.bluediv-elem p{
    width: 40%;
    font-size: 0.7vw;
    
}
/* =======================================end of page4====================================================== */
/* =======================================Start of page5====================================================== */
#page5{
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
    position: relative;
}

.elem{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -3vw;
}
.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    animation-name: anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}
.elem2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -3vw;
}
.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    animation-name: anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
   
}
.elem span{
    font-family: 'silk serif';
    color: transparent;
}
.elem2 span{
    font-family: 'silk serif';
    color: transparent;
}
/* =======================================end of page5====================================================== */
/* =======================================Start of footer====================================================== */
#footer{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    padding-left: 28vw;
    padding-right: 5vw;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 4vw ;
    padding-bottom: 4vw ;
    padding-right:7vw ;
}
#footer h1{
    font-size: 7vw;
    text-transform: uppercase;
    width: 60vw;
    /* background-color: blue; */
    margin-bottom: 7vw;
    position:relative;
}
#footer h1::before{
    content: "04";
    font-size: 3.2vw;
    font-family: "silk serif";
    font-weight: 500;
    position: absolute;
    top:0vw;
    left:-10vw;
}
.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    
    
}

.box h6{
    font-size: 0.9vw;
    margin-bottom: 1.7vw;
}
.box h5{
    font-size: 1.7vw;
    
}
#footer>h6{
    font-size: 1vw;
    font-weight: 600;
    margin: 2.5vw 0;
}
/* =======================================end of footer====================================================== */
